{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

  <div class="login-page">

    <form class="login-form">
      <h1>BlindFold</h1>
      <h2>Sign in</h2>
      <input type="text" placeholder="Username" required><br>
      <input type="password" placeholder="Password" required><br>
      <button class="sign-button"><a href="/home">Sign in</a></button>
      <p class="sign-prompt">Don't have an account?</p>
      <button class="sign-button"><a href="/register">Sign up</a></button>
    </form>

  </div>

{% endblock %}