{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}

    <div class="register-page">
        
        <form class="register-form" action="/register" method="POST">
            <h1>BlindFold</h1>
            <h2>Sign up</h2>
            <input type="text" placeholder="First Name" id="firstName" name="firstName" required><br>
            <input type="text" placeholder="Last Name" id="lastName" name="lastName"required><br>
            <input type="text" placeholder="Age" id="age" name="age"required><br>
            <div class="select">
                <select required>
                    <option class="hide">Gender</option>
                    <option name="gender" value='m' id="male">Male</option>
                    <option name="gender" value='f' id="female">Female</option>
                </select>
            </div>
            <div class="select">
                <select required>
                    <option class="hide">Preference</option>
                    <option name="preference" value='m' id="male">Male</option>
                    <option name="preference" value='f' id="female">Female</option>
                </select>
            </div>

            <input type="text" placeholder="Email" id="email" name="email" required><br>
            <input type="text" placeholder="Username" id="username" name="username" required><br>
            <input type="password" placeholder="Password" id="password" name="password" required><br>
            <button class="sign-button" type="submit"<a href="/home">Sign up</a></button>
            <p class="sign-prompt">Already have an account?</p>
            <button class="sign-button"><a href="/">Sign in</a></button>
                </form>

    </div>
        {{ users }}

{% endblock %}

